body {
    background-color: lightgray;
}

.thanks {
    margin-bottom: -90%;
}
#hud {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 55vw;
}

.hud-item-1 {
    margin-right: -50%;
}
.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .hud-item-1 {
        margin-right: -20%;
    }
}